<li class="collection-item">
    <div style="text-align: center;">
    <p class="no-margin"><i class="medium material-icons">face</i></p>
    <p class="no-upper-margin">¿Tenés un familiar o amigo que usa <span class="brand">Vitalis</span>?</p>
    <a  class="waves-effect waves-light btn">Seguilo</a>
    </div>
</li>