<li class="collection-item">
    <div style="text-align: center;">
    <p class="no-margin"><i class="medium material-icons">face</i></p>
    <p class="no-upper-margin">No tenés ning&uacute;n monitoreo activo</p>
    <a href="#" class="waves-effect waves-light btn">Empez&aacute; acá</a>
    </div>
</li>