<li class="collection-item">
    <div style="text-align: center;">
    <p class="no-margin"><i class="medium material-icons">face</i></p>
    <p class="no-upper-margin">Todavía no registraste tu m&oacute;dulo <span class="brand">Vitalis</span></p>
    <a href="#" class="waves-effect waves-light btn">Hacelo acá</a>
    </div>
</li>