<li class="collection-item avatar">
    <img src="{{ picture_url }}" alt="" class="circle">
    <span class="title">{{ name }}</span>
    <p>Última medici&oacute;n el {{ last_monitoring_date }}
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a>
</li>
