{{!-- 	<a class="modal-trigger" href="#modal1">
		<i class="material-icons">more_vert</i>
	</a>
 --}}	
	<!-- Modal Structure -->
{{!-- 	<div id="modal1" class="modal bottom-sheet">
	<h5 class="subheader">Revisar solicitud</h5>
	{{!-- <div> --}}
	  <ul class="collection">
	  	<li class="collection-item" data-role='accept-request'>
	  		<a href="#!"><i class="material-icons">check</i>Aceptar</a>
	  	</li>
	  	<li class="collection-item" data-role='accept-request'>
	  		<a href="#!"><i class="material-icons">close</i>Rechazar</a>
	  	</li>
	  </ul>
 --}}	{{!-- </div> --}}
	{{!-- <div class="modal-footer"> --}}
	  {{!-- <a href="#!" data-role='accept-request' class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a> --}}
	  {{!-- <a href="#!" data-role='reject-request' class=" modal-action modal-close waves-effect waves-green btn-flat">Rechazar</a> --}}
	{{!-- </div> --}}
	{{!-- </div> --}}