<li class="collection-item">
    <div style="text-align: center;">
    <p class="no-margin"><i class="medium material-icons">weekend</i></p>
    <p class="no-upper-margin">No tenés más solicitudes, ¡volvé pronto para chequear nuevamente!</p>
    </div>
</li>