<li class="collection-item">
    <div class="center-align">
    <p class="no-margin"><i class="medium material-icons">weekend</i></p>
    <p class="no-upper-margin">No tenés más solicitudes de los pacientes que administras, ¡volvé pronto para chequear nuevamente!</p>
    </div>
</li>