<div class="app-container">

<h5 class="subheader">Validar m&eacute;dicos</h5>

<nav>
    <div class="nav-wrapper">
      <form id="search-form">
        <div class="input-field">
          <input id="search" type="search" autocomplete="off" class="inherit-font-size" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i id="reset-btn" class="material-icons">close</i>
        </div>
      </form>
    </div>
</nav>

<div id="search-results" class="pad-top"></div>

</div>