<div class="app-container">
    <div id="myalerts">
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light" data-role="new-alert">
            <i class="large material-icons">add</i>
        </a>
    </div>

</div>