<li class="collection-item">
    <span class="title">{{ monitoring.patient.name }}</span>
    <p class="subtitle no-margin">
        {{ tr measurement_type }} ({{from}} a {{measure to measurement_type}})
    </p>

</li>