<div class="app-container container">

    <div id="patients">
    </div>

    <div id="sensors">
    </div>

    <div id="ranges">
    </div>

    <h5 class="subheader">Seleccionar rango para el alerta</h5>
    <div id="range-slider">
    </div>


</div>