<div class="app-container">

    <div class="container">
        <div id="patients" class="pad-bottom pad-top">
        </div>

        <div id="sensors" class="pad-bottom">
        </div>

        <div id="ranges" class="pad-bottom">
            <label>Rango de alerta</label>
            <div id="range-slider" class="margin-top">
            </div>
        </div>

    </div>
    <a class="btn btn-large waves-effect waves-light full-width goto-bottom" data-role="register-alert" >
        Registrar alerta
    </a>

</div>