<div class="app-container">

    <div class="container">
        <div id="patients" class="pad-bottom pad-top">
        </div>

        <div id="sensors" class="pad-bottom">
        </div>

        <div id="ranges" class="pad-bottom row position-relative">
            <div class="col s9">
                <label>Rango de alerta</label>
                <div id="range-slider" class="margin-top">
                </div>
            </div>
            <div id="range-values" class="col s3 position-absolute right">
                <span id="range-from">20</span>
                <span>-</span>
                <span id="range-to">80</span>

            </div>
        </div>

        <div id="ranges-secondary" class="pad-bottom row position-relative visibility-hidden">
            <div class="col s9">
                <label>Rango de alerta (presión diast&oacute;lica)</label>
                <div id="range-secondary-slider" class="margin-top">
                </div>
            </div>
            <div id="range-secondary-values" class="col s3 position-absolute right" style="padding-top: 36px;">
                <span id="range-secondary-from">20</span>
                <span>-</span>
                <span id="range-secondary-to">80</span>

            </div>
        </div>

    </div>
    <a class="btn btn-large waves-effect waves-light full-width goto-bottom" data-role="register-alert" >
        Guardar alerta
    </a>

</div>