<div class="row">
<div class="col s10 m10 l10">
	<h5 class="subheader">{{collection_title}}</h5>
</div>
<div class="col s2 m2 l2">
	<a href="#" data-role="{{action.role}}"><i class="material-icons">{{action.icon}}</i></a>
</div>
</div>
<ul class="collection">

</ul>
<div id="action-container"></div>