<div id="header-container">

    <div id="preloader-header" class="progress no-margin hidden">
        <div class="indeterminate"></div>
    </div>

    <nav>
        <div class="nav-wrapper">

            <a href="#" data-role='back-btn' data-activates="nav-mobile" class="button-collapse pad-left"><i class="material-icons">keyboard_arrow_left</i></a>

            <a href="#" class="brand-logo">Vitalis</a>
            <ul class="right">
                <li>
                    <a href="#" data-activates="nav-mobile" >
                        <i class="material-icons">notifications</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>