<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--<link href="/ui-build/core__large.css" rel="stylesheet">-->
    <link href="//localhost:3000/ui-build/bundle__large.css" rel="stylesheet">

    <meta name="config:lang" content="es" />
</head>
<body>
<div id="app">
    <div id="headin" data-js="header-region"></div>
    <div id="contentin" data-js="main-region"></div>
    <div id="footin" data-js="footer-region"></div>
</div>

<!--  Scripts-->


<!--<script type="text/javascript" src="/ui-build/urls/bundle.js"></script>-->
<script type="text/javascript" src="//localhost:3000//ui-build/core__large.js"></script>
<!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>-->
<script src="/js/materialize.js"></script>
<script type="text/javascript" src="//localhost:3000//ui-build/bundle__large.js"></script>

<script id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.5.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
