<div id="home-container" class="app-container">

    <h5 class="subheader">Mi estado</h5>
    <div id="mystatus">
    </div>

    <h5 class="subheader">Siguiendo</h5>
    <div id="following">

    </div>


</div>