<div id="home-container" class="app-container">

    <h5 class="light pad-left">Mi estado</h5>
    <div id="mystatus">
    </div>

    <h5 class="light pad-left">Siguiendo</h5>
    <div id="following">
        <ul class="collection">

        </ul>
    </div>


</div>