<div class="app-container">
    <h5 class="subheader">{{tr measurement_type}}</h5>
    <div id="chart"></div>
    <h5 class="subheader">Últimas mediciones</h5>
    <div id="values"></div>
    <div id="alerts"></div>
</div>