<li class="collection-item avatar">
    <img src="{{ patient.picture_url }}" alt="" class="circle">
    <span class="title">{{ patient.name }}</span>
    <p>Última medici&oacute;n el {{ last_monitoring_date }}
    </p>
    <button data-role="follow" class="btn btn-floating secondary-content"><i class="material-icons">person_add</i></button>
</li>
