<li class="collection-item avatar">
    <img src="{{ img_url ( concat 'icon_' type '.png') }}" alt="{{ tr type }}" class="measurement-icon">
    <span class="title">{{ tr type }}</span>

    <div class="switch secondary-content">
        <label>
            <input data-role="toggle-selection" type="checkbox">
            <span class="lever"></span>
        </label>
    </div>
</li>
