<div class="app-container">
<h5 class="subheader">Información del paciente</h5>
    <ul class="collection">
    <li class="collection-item avatar">
        <img src="{{ patient.picture_url }}" alt="" class="circle">
        <span class="title">{{ patient.name }}</span>
        <p>First Line <br>
            Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a>
    </li>
</ul>

<h5 class="subheader">Información de monitoreo</h5>
<div id="sensors">
</div>

</div>