<div class="app-container">

    <div id="patient"></div>

    <div id="followers"></div>

    <div id="sensors"></div>

    <a data-role="finish-monitoring" class="waves-effect waves-light btn-large full-width">
        Finalizar monitoreo
    </a>
</div>