<div class="app-container">

    <div id="patient"></div>

    <div id="followers"></div>

    <div id="sensors"></div>

    <a data-role="init-monitoring" class="waves-effect waves-light btn-large full-width">
        Iniciar monitoreo
    </a>
</div>