<li class="collection-item avatar">
    <img src="{{ picture_url }}" alt="" class="circle">
    <span class="title">{{ name }}</span>
    {{#if (eq role 'delete')}}
        <button data-role="delete" class="btn btn-floating btn-minimal btn-flat secondary-content"><i class="material-icons">close</i></button>
    {{else}}
        <button data-role="add" class="btn btn-floating secondary-content"><i class="material-icons">person_add</i></button>
    {{/if}}
</li>