/*#preloader-header .indeterminate {*/
    /*background-color: white;*/
/*}*/
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    margin: 0;
    width: 100%;
    position: relative;
}

.login-logo {
    padding-top: 25px;
    width: 128px;
}

.display-block {
    display: block;
}

.login-text{
    color: #757575;
}

a.login-link {
    color: #9e9e9e;
}

a#forgot-password-btn {
    padding-top: 20px;
}
div#bottom-content {
    margin-top: 20px;
    text-align: center;
    display: block;
}

span#create-account{
    text-align: center;
    display: block;
    padding-top: 20px;
}

div#preloader-header {
    position: absolute;
    top: 0;
    z-index: 9999;
}

div#preloader-header.hidden {
    display: none;
    position: absolute;
    top: 0;
}

h5 {
    color: #9e9e9e;
}

#hero-logo {
    padding-bottom: 50px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: #e0e0e0;
    transition: background-color 5000s ease-in-out 0s;
    /*-webkit-box-shadow: 0 0 0px 1000px #fff inset;*/
}