/* Generic styles */
div#app{
    min-height: 667px;
}

.full-width {
    width: 100%;
}

.display-none{
    display: none;
}

.visibiliy-hidden {
    visibility: hidden;
}

.no-margin {
    margin: 0;
}

.no-upper-margin {
    margin-top: 0;
}

.no-lower-margin {
    margin-bottom: 0;
}

.position-fixed{
    position: fixed;
}
.no-padding {
    padding: 0;
}
.pad-left {
    padding-left: 20px;
}

.pad-right {
    padding-right: 20px;
}

.pad-bottom {
    padding-bottom: 20px;
}

.pad-top{
    padding-top: 20px;
}

/* Common styles */
.app-container{
    background-color: #455a64;
    min-height: 667px;
    padding-top: 65px;
}

.top-of-the-rock{
    z-index: 999999;
}
.nav-wrapper {
    background-color: #37474f;
}

@font-face {
    font-family: SignoriaBold;
    src: url("http://localhost:8080/fonts/signoria/signoria_bold.ttf") /* EOT file for IE */
}

.subheader {
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
}

p.active {
    color: #039be5;
}

.collection li.collection-item:not(.active):hover {
    background-color: #ddd;
}

.brand {
    text-transform: uppercase;
    font-family: SignoriaBold;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.inherit-font-size {
    font-size: inherit;
}

.valign-bottom {
    vertical-align: bottom;
}

.btn-secondary {
    background-color: #dfdfdf;
}

.btn-minimal {
    background-color: transparent;
}

.btn-minimal > i.material-icons {
    color: #343434;
}

i.material-icons+span {
    padding-left: 10px;
}

a {
   color: rgba(0, 0, 0, 0.87);
}

.modal-action {
    cursor: pointer;
    cursor: hand;
}
