/* Generic styles */
html, body {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-color: #455a64;
}

div#app {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: #455a64;
}

div#contentin,
div#contentin > div {
    min-height: 100%;
    height: 100%;
    width: 100%;
    min-width: 100%;
    background-color: #455a64;
}

.app-container {
    background-color: #455a64;
    min-height: 100%;
    padding-top: 75px;
}

@media screen and (max-height: 667px) {
    .app-container {
        padding-top: 65px;
    }
}

.full-width {
    width: 100%;
}

.display-none{
    display: none;
}

.visibility-hidden {
    visibility: hidden;
}

.no-margin {
    margin: 0;
}

.no-upper-margin {
    margin-top: 0;
}

.no-lower-margin {
    margin-bottom: 0;
}

.position-fixed{
    position: fixed;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}


.no-padding {
    padding: 0;
}
.pad-left {
    padding-left: 20px;
}

.pad-right {
    padding-right: 20px;
}

.pad-bottom {
    padding-bottom: 20px;
}

.pad-top{
    padding-top: 20px;
}

.margin-top {
    margin-top: 20px;
}

/* Common styles */

.top-of-the-rock{
    z-index: 999999;
}
.nav-wrapper {
    background-color: #37474f;
}

@font-face {
    font-family: SignoriaBold;
    src:    url("//localhost:8080/fonts/signoria/signoria_bold.ttf"),
            url("/fonts/signoria/signoria_bold.ttf") /* EOT file for IE */
}

.subheader {
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
}

p.active {
    color: #039be5;
}

.collection li.collection-item:not(.active):hover {
    background-color: #ddd;
}

.brand {
    text-transform: uppercase;
    font-family: SignoriaBold;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.inherit-font-size {
    font-size: inherit;
}

.valign-bottom {
    vertical-align: bottom;
}

.btn-secondary {
    background-color: #dfdfdf;
}

.btn-minimal {
    background-color: transparent;
}

.btn-minimal > i.material-icons {
    color: #343434;
}

i.material-icons+span {
    padding-left: 10px;
}

li.collection-item > span.title,
a {
   color: rgba(0, 0, 0, 0.87);
}

a,
.modal-action {
    cursor: pointer;
    cursor: hand;
}

.input-field.col label {
    left: 0;
}

.goto-bottom {
    bottom: 0;
    position: absolute;
}

.right {
    right: 0 !important;
}

span {
    /*color: #9e9e9e;*/
    color: rgba(0, 0, 0, 0.87);
}


input[type="text"],
input[type="email"],
input[type="password"],
option,
{
    color: #9e9e9e;
}

i.material-icons {
    color: #fff;
}

i.material-icons.dark {
    color: rgba(0, 0, 0, 0.87);
}

.subtitle {
    color: #757575;
    font-weight: 300;
    font-size: small;
}
.form-input {
    color: #e0e0e0;
}

.light {
    font-weight: 300;
}