<li class="collection-item">
    <div class="center-align">
        <p>Todavía no asignaste a ningún seguidor</p>
        <a id="assign" class="btn waves-effect waves-light">Asignar</a>
    </div>
    <div id="search-users-container"></div>
</li>