<li class="collection-item">
	<div class="center-align">
		<p>Todavía no asignaste a ningún seguidor</p>
		<a class="btn" data-role="assign-follower">Asignar</a>

        <div id="search-users-container"></div>

	</div>
</li>