<li class="collection-item">
    <div class="center-align">
        <p class="no-margin"><i class="medium material-icons dark">memory</i></p>
        <p>Todav&iacute;a no registraste ning&uacute;n m&oacute;dulo</p>
        <a id="assign" class="btn waves-effect waves-light">Registrar</a>
    </div>
</li>