<div class="app-container">

<div id="mymodules"></div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a data-role="new-module" class="btn-floating btn-large waves-effect waves-light">
        <i class="large material-icons">add</i>
    </a>
</div>

</div>