<div class="app-container">
    <div class="container">
        <div class="input-field col">
            <!--<i class="material-icons prefix login-input">email</i>-->
            <input id="email" class="login-input" name="serial_number" type="text" data-error="#error-email">
            <label for="email" class="active" data-error="Verifica este campo">Número de serie</label>
        </div>
    </div>

    <div class="valign-bottom">
        <a class="waves-effect waves-light btn center-align full-width login-btn btn-large" id="register" >Registrar</a>
    </div>

</div>