<div class="login-container">
    <form class="container">

    <img src="/img/logo-white-full.png" alt="Vitalis" class="center-image login-logo"/>
    <div class="input-field">
        <i class="material-icons prefix login-input">email</i>
        <input id="email" class="login-input validate" name="email" type="email" required="" aria-required="true">
        <label for="email" class="active" data-error="Verifica este campo">Correo electrónico</label>
        <div class="error-email"></div>
    </div>
    <div class="input-field">
        <i class="material-icons prefix login-input">lock_outline</i>
        <input id="password" class="login-input validate" name="password" type="password" data-error="Verifica este campo" required="" aria-required="true">
        <label for="password" class="active" data-error="Arr">Contraseña</label>
        <div class="error-password"></div>
    </div>
    <div class="center-align col s6 login-btn-wrapper">
        <input class="waves-effect waves-light btn center-align full-width login-btn" id="login" type="button" value="Ingresar">
        <a id="forgot-password-btn" href="#" class="display-block login-link">¿Olvidaste tu contraseña?</a>
    </div>
    </form>
    <div id="bottom-content center-align">
        <span class="login-text" id="create-account">
            ¿No ten&eacute;s una cuenta? <a id="signup-now-btn" href="#" class="login-link">Crea una</a>
        </span>
    </div>
</div>
