<div class="login-container app-container">
    <div class="container">

        <img id="hero-logo" src="/img/logo-white-full.png" alt="Vitalis" class="center-image login-logo"/>

        <!--<h5 class="center-align">Unite a la comunidad</h5>-->

        <div class="input-field">
            <i class="material-icons prefix login-input">email</i>
            <input id="email" class="login-input" name="email" type="email" data-error="#error-email">
            <label for="email" class="active" data-error="Verifica este campo">Correo electrónico</label>
            <div id="error-email"></div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix login-input">lock_outline</i>
            <input id="password" class="login-input" name="password" type="password" data-error="#error-password">
            <label for="password" class="active" data-error="">Contraseña</label>
            <div id="error-password"></div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix login-input">lock_outline</i>
            <input id="password2" class="login-input" name="password2" type="password" data-error="#error-password">
            <label for="password2" class="active" data-error="">Contraseña</label>
            <div id="error-password"></div>
        </div>

        <div class="center-align col s6">
            <input class="waves-effect waves-light btn center-align full-width signup-btn" id="signup" type="button" value="Registrarme">
             <span class="login-text" id="create-account">
                <a id="return-to-login-btn" href="#" class="display-block login-link">Volver</a>
            </span>
        </div>
    </div>
</div>